h2 {
    font-size: 26px;
}

/* Base state */
.fade {
    opacity: 1;
    transition: 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) all;
}

/* Initial state when showing */
.fade.ng-hide-remove {
    opacity: 0;
}

/* Target state when showing */
.fade.ng-hide-remove-active {
    opacity: 1;
}

/* Initial state when hiding */
.fade.ng-hide-add {
    opacity: 1;
}

/* Target state when hiding */
.fade.ng-hide-add-active {
    opacity: 0;
}
